<IfModule mod_rewrite.c>
	RewriteEngine on
	# ubah nilai RewriteBase menjadi 
	# RewriteBase /
	# saat menggunakan Top Level Domain (TLD) 

	RewriteBase /datatables-ci/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>